@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700');

* {
    box-sizing: border-box;
    font-family: Lato;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}

html, body {
    margin: 0;
    padding: 0;
    color: #333;
}

header, footer {
    background-color: #eee;
}

header>div, main {
    width: 80%;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1em;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 1em 0;
}

nav a {
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid #ddd;
}

nav a:last-child {
    border: none;
}

.special {
    text-decoration: none;
    background-color: navy;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1em;
    border: none;
    cursor: pointer;
}

.special.danger {
    background-color: firebrick;
}

.special.success {
    background-color: green;
}


div.error {
    background-color: firebrick;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
}

/* FORMULAIRES */

form {
    background-color: #eee;
    padding: 2em;
    border-radius: 5px;
}

form::after {
    display: block;
    content: '';
    clear: both;
}

input, textarea, select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button[type="submit"] {
    float: right;
}

/* PAGE ACCUEIL */
section.articles article img {
    max-width: 30%;
    float: left;
    margin: 0 1em 1em 0;
}

section.articles article::after {
    display: block;
    content: '';
    clear: both;
}

.readmore {
    text-decoration: none;
    background-color: navy;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1em;
}

/** ARTICLE **/

main > article div.heading {
    padding: 5em 0;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

/* PAGE NEW FORMULAIRE */
textarea[name="content"] {
    height: 300px;
}